/*Шрифты*/

@font-face {
	font-family: "Montserrat Bold";
	src: url('../fonts/montserrat-bold.otf'); 
	src: url('../fonts/montserrat-bold.ttf'); /* IE9 Compat Modes */
    src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/montserrat-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: bold;
}


@font-face {
	font-family: "Montserrat Regular";
	src: url('../fonts/montserrat-regular.otf'); 
	src: url('../fonts/montserrat-regular.ttf'); /* IE9 Compat Modes */
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/montserrat-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
}