body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* first-screen */

header {
  width: 100vw;
  height: 100vh;
  background: url("../img/Rectangle.jpg") no-repeat center / cover;
  color: #fff;
}

/************************** navigation bar */

.menu__link {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  margin-right: 35px;
  transition: all 0.2s;
}

.menu__link:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 38px;
}

nav {
  height: 99.5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header::before {
  height: 1px;
  width: 100vw;
  content: "";
  display: block;
  position: absolute;
  top: 99.5px;
  background: rgba(161, 161, 161, 0.5);
}

/*************************** navigation bar */
/*************************** main page title */

.title__text {
  font-size: 16px;
}

.title__info {
  font-size: 48px;
  line-height: 1.333em;
  margin: 20px 0 50px 0;
}

.button {
  font-size: 16px;
  color: #fff;
  background: rgba(73, 133, 255, 1);
  border: none;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  transition: all 0.2s;
}

.button:hover {
  background: rgba(73, 133, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.title {
  display: flex;
  flex-direction: column;
  width: 829px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 219.5px;
}

/*************************** main page title */

/* first-screen */
