body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 36px;
  line-height: 1.463em;
}

/* first-screen */

header {
  width: 100vw;
  height: 100vh;
  background: url("../img/Rectangle.jpg") no-repeat center / cover;
  color: #fff;
}

/************************** navigation bar */

.menu__link {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  margin-right: 35px;
  transition: all 0.2s;
}

.menu__link:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 38px;
}

nav {
  height: 99.5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header::before {
  height: 1px;
  width: 100vw;
  content: "";
  display: block;
  position: absolute;
  top: 99.5px;
  background: rgba(161, 161, 161, 0.5);
}

/*************************** navigation bar */
/*************************** main page title */

.title__text {
  font-size: 16px;
}

.title__info {
  font-size: 48px;
  line-height: 1.333em;
  margin: 20px 0 50px 0;
}

.button {
  font-size: 16px;
  color: #fff;
  background: rgba(73, 133, 255, 1);
  width: 200px;
  height: 45px;
  border-radius: 30px;
  transition: all 0.2s;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 12px;
  text-align: center;
}

.button:hover {
  background: rgba(73, 133, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.title {
  display: flex;
  flex-direction: column;
  width: 829px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 219.5px;
}

/*************************** main page title */

/* first-screen */
/* second-screen */

.center {
  margin: 0 auto;
  text-align: center;
}

.title__mobil {
  font-size: 36px;
  color: rgba(50, 50, 50, 1);
  line-height: 1.472em;
  width: 739px;
  padding-top: 108px;
}

.list__text-color {
  color: rgba(153, 153, 153, 1);
}

.sub-head {
  font-size: 16px;
  line-height: 1.563em;
  padding: 50px 0 80px;
  width: 730px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list__point {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list__text {
  grid-column: 2/3;
  font-size: 14px;
  line-height: 1.585em;
  width: 200px;
  margin-left: 28px;
}

.br {
  border: 1px solid rgba(73, 133, 255, 1);
  border-radius: 50%;
  height: 90px;
  width: 90px;
  text-align: center;
  line-height: 7.3em;
  position: relative;
  grid-column: 1;
  grid-row: 1/3;
  justify-self: end;
}

.br::before {
  content: "";
  display: block;
  height: 110px;
  width: 110px;
  border: 1px solid rgba(224, 224, 224, 1);
  position: absolute;
  border-radius: 50%;
  top: -11px;
  left: -11px;
}

.list__title {
  font-size: 18px;
  line-height: 1.463em;
  margin: 32px 0 12px 27px;
  width: 226px;
}

.button-services {
  margin: 55px 0 107px 41.5%;
}

/* second-screen */

/* third screen */

/* content above the line */

.about-us-bac {
  background: rgba(246, 246, 248, 1);
}

.about-us__title {
  width: 424px;
  height: 88px;
  padding: 0;
  margin: 152px 0 40px 0;
}

.about-us__text {
  padding: 0;
  margin: 0 0 30px 0;
  width: 489px;
  height: 117px;
}

.about-us__link {
  text-decoration: none;
  font-size: 16px;
  color: rgba(73, 133, 255, 1);
  position: relative;
}

.about-us__link::before {
  content: "";
  display: block;
  height: 1px;
  width: 12.4em;
  background: rgba(73, 133, 255, 1);
  position: absolute;
  top: 17px;
}

.aut {
  margin: 100px 0 160px 115px;
}

/* content above the line */
.line {
  position: relative;
}
.line::after {
  display: block;
  content: "";
  background: rgba(224, 224, 224, 1);
  height: 1px;
  position: absolute;
  width: 100%;
  top: 590px;
}

/* content under the line */
.list-about-us__text {
  margin: 0;
  padding: 0;
}

.list-about-us__digit {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  color: black;
}

.list-about-us__numbers {
  width: 104px;
  height: 67px;
}

.list-about-us {
  justify-content: space-around;
  margin-bottom: 66px;
}
/* content under the line */

/* third screen */

/* fife screen  */

.services-specialization {
  background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%) 100%;
  margin-bottom: 495px;
}

/* title  */
.services-title__text {
  color: white;
  width: 540px;
}

.services-title {
  justify-content: space-between;
  align-items: baseline;
  margin: 100px 0 302px 0;
}

.services-title__button {
  margin-top: 24px;
}
/* title  */

/* items */
.services-list__title {
  font-size: 18px;
  line-height: 1.222em;
  margin-top: 30px;
}

.services-list__number {
  color: #4985ff;
  font-size: 17px;
}

.services-list {
  position: absolute;
  top: 284px;
}

.services-list__item {
  width: 350px;
  margin-bottom: 170px;
}

.services-list__item:nth-child(-n + 2) {
  margin-right: 30px;
}

.services-list__text {
  width: 100%;
  padding: 0;
  margin: 30px 0;
}

.services-list__link::before {
  width: 6em;
}
/* items */
/* line */
.services-list::after {
  top: 629px;
}
/* line */

/* fife screen  */

/* six screen  */

.progect {
  background: rgba(246, 246, 248, 1);
}

.progect-item {
  justify-content: space-between;
}

.our-progect {
  margin: 100px 0 50px;
}

.text-progect {
  padding: 0;
  margin-bottom: 70px;
}

.progect-button {
  margin-top: 50px;
  margin-bottom: 130px;
}

/* six screen  */
